* {
	font-family: "Arial";
}

body {
	background-color: green;
}

@keyframes example1 {
    0% {transform:rotateZ(0deg);}
	50% {transform:rotateZ(360deg);}
	100% {transform:rotateZ(0deg);}
}

@keyframes example2 {
    0% {transform:rotateY(0deg);}
	50% {transform:rotateY(360deg);}
	100% {transform:rotateY(0deg);}
}

@keyframes example3 {
    0% {transform:rotateX(0deg);}
	50% {transform:rotateX(360deg);}
	100% {transform:rotateX(0deg);}
}

@keyframes example4 {
    0% {transform:rotateX(0deg)  rotateY(0deg);}
	50% {transform:rotateX(360deg)  rotateY(360deg);}
	100% {transform:rotateX(0deg)  rotateY(00deg);}
}

@keyframes example5 {
    0% {transform:rotateX(0deg)  rotateZ(0deg);}
	50% {transform:rotateX(360deg)  rotateZ(360deg);}
	100% {transform:rotateX(0deg)  rotateZ(00deg);}
}
/* The element to apply the animation to */
img {
    width: 23%;
    height: 23%;
    background-color:red;
}

header {
	text-align: center;
}

#i1st{
	animation-name: example1, example2;
	animation-duration: 6s;
	animation-iteration-count:infinite;
}
#i2nd{
	animation-name: example2;
	animation-duration: 6s;
	animation-iteration-count:infinite;
}

#i3rd{
	animation-name: example3;
	animation-duration: 6s;
	animation-iteration-count:infinite;
}

#i4th{
	animation-name: example4;
	animation-duration: 6s;
	animation-iteration-count:infinite;
}

#i5th{
	animation-name: example5;
	animation-duration: 6s;
	animation-iteration-count:infinite;
}
