
@import url("image-animation.css");

* {
	font-family: "Arial";
}

body {
	background-color: forestgreen;
}

h1 {
	vertical-align: middle;
}


/* The element to apply the animation to */
img {
    background-color:red;
	animation-iteration-count:1;
	animation-duration: 2s;
}

header, footer {
	background-color: darkgreen ;
    text-align: center;
    padding: 20px;
  color: orangered;
}

.float {
	position: relative;
	right: 22%;
}

.inline {
	display: inline;
}

.signature {
	width: 18vw;
    height: 32vh;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 4368px;
  animation: slide 28s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
  
}

.section {
	margin: 5vw;
	text-align: justify;
}


table, th, td {
  border: 1px solid black;
}

.central{
  /* text-align: center; */
  margin-left:auto; 
  margin-right:auto;
}